<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
        <img class="logo" src="/img/logo.png" />
    </a>
    <a href="/logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
    </a>
</nav>
