<% include partials/header %>
<% include partials/navbar %>
<script>
    if (typeof WORDS === `undefined`) {
        var WORDS = helpers.parseJson(`<%- JSON.stringify(words) %>`);
    }
</script>

<script src="/frontlib/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/frontlib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="/frontlib/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/css/edit.css">
<script src="/js/edit.js"></script>

<div class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <div class="row bg-secondary m-0 border-bottom border-light" id="editActionButtons">
            <div class="col-sm-12 text-center p-2">
                <div className="btn-group">
                    <button class="btn btn-success" id="addWordBtn">Add new</button>
                    <button class="btn btn-warning" id="resetScoreBtn">Reset score</button>
                    <button class="btn btn-primary" id="editWordBtn">Edit</button>
                    <button class="btn btn-success" id="saveWordBtn">Save</button>
                    <button class="btn btn-danger" id="deleteWordBtn">Delete</button>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover bg-light" id="wordTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 3%;">#</th>
                            <th scope="col" style="width: 7%;">Art.</th>
                            <th scope="col" style="width: 18%;">Word</th>
                            <th scope="col" style="width: 7%;">For. Art.</th>
                            <th scope="col" style="width: 18%;">Foreign Word</th>
                            <th scope="col" style="width: 5%;">Score</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer fixed-bottom p-2 bg-light">
    <div class="row">
        <div class="container text-center">
            <span class="text-muted"><strong>CTRL + 0</strong> = Add new</span>
            <span class="text-muted ml-5"><strong>Enter while editing</strong> = Save</span>
        </div>
    </div>
</footer>
<% include partials/end %>
