<% include partials/header %>
<% include partials/navbar %>
<link rel="stylesheet" href="/css/learn.css">
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="/js/learn.js"></script>


<div class="row justify-content-center align-items-center h-75">
    <div class="col-lg-4 col-md-6">
        <div class="card bg-dark text-white">
            <div class="card-header">Word to translate:</div>
            <div class="card-body">
                <h5 class="card-title mb-0" cname="toTranslate"></h5>
                <span class="mb-3 d-block", cname="context"></span>
                <p class="card-text">
                    <input class="form-control" autofocus cname="translation"></input>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-danger actionButton" cname="failed">Fail</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning actionButton" cname="hint">Hint</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success actionButton" cname="next" disabled>Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer fixed-bottom p-2 bg-light">
    <div class="row">
        <div class="container text-center">
            <span class="text-muted"><strong>SHIFT + [</strong> = å</span>
            <span class="text-muted ml-3"><strong>SHIFT + ;</strong> = ø</span>
            <span class="text-muted ml-3"><strong>SHIFT + '</strong> = æ</span>
            <span class="text-muted ml-3"><strong>ENTER</strong> = Next</span>
            <span class="text-muted ml-3"><strong>CTRL + ENTER</strong> = Fail</span>
            <span class="text-muted ml-3"><strong>CTRL + SHIFT</strong> = Hint</span>
        </div>
    </div>
</footer>
<% include partials/end %>
