<% include partials/header %>
<% include partials/navbar %>
<link rel="stylesheet" href="/css/learn.css">
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="/js/learn.js"></script>


<div class="row justify-content-center align-items-center h-50">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <div class="card-header">Word to translate:</div>
            <div class="card-body">
                <h5 class="card-title" cname="toTranslate"></h5>
                <p class="card-text">
                    <input class="form-control" autofocus cname="translation"></input>
                </p>
                <button class="btn btn-danger actionButton" cname="failed">I give up</button>
                <button class="btn btn-warning actionButton" cname="hint">Give me a hint</button>
                <button class="btn btn-success actionButton" cname="next" disabled>Next</button>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
