.actionButton{
    width: 48%;
    min-width: 60px;
    padding: 0px 5px 0px 5px;
}

.dt-disabled{
    background-color: black;
}

#wordTable{
    margin-top: 0 !important;
}

#wordTable_wrapper > div.row:first-child{ /* DT toolbar */
    background-color: #6c757d !important;
    color: white;
    margin: 0;
    padding-top: 8px;
}
